<% content_for :head do %>
    <title><%=h @link.title %> | LinkMush</title>
<% end %>

<% content_for :banner do %>
<%
=begin
    Add content to the banner
=end
%>
<% end %>

<% content_for :main do %>
    <div class="yui-g link-wrap">
        <p>
        <h1 class="detail-title"><%= @link.title %></h1>
        <%= highlight_url @link.url %>
        </p>

        <% if @link.embed %>
        <div class="embed-wrap">
            <% content_tag :object, :width => @link.embed.width, :height => @link.embed.height, :src => @link.embed.url do %>
                <%= content_tag :param, '', :name => "movie", :value => "true" %>
                <%= content_tag :param, '', :name => "allowFullScreen", :value => "true" %>
                <%= content_tag :param, '', :name => "allowscriptaccess", :value => "true" %>
                <%= content_tag :embed, '', :src => @link.embed.url, :type => "application/x-shockwave-flash", :allowscriptaccess => "true", :width => @link.embed.width, :height => @link.embed.height %>
            <% end %>
        </div>
        <% end %>
    </div>
    <div class="yui-g transcript">
            <h2>Transcript</h2>
            <%= format_transcript @link.transcript %>
    </div>
<% end %>

<% content_for :sidebar do %>
    <h2>Description</h2>
    <p style="color:red">[ list description here ]</p>


    <h2>Similar</h2>
    <ul><% @link.similar_links.each do |link| %>
        <li><%= link_to link.title, detail_path(:url_name => link.url_name) %></li>
    <% end %></ul>
<% end %>

<% content_for :foot do %>
<% end %>


<% content_for :other do %>
<p>
  <b>Url:</b>
  <%= link_to @link.url, @link.url, :rel => "nofollow" %>
</p>

<p>
  <b>Title:</b>
  <%=h @link.title %>
</p>

<p>
  <b>Description:</b>
  <%=h @link.description %>
</p>
<% end %>

